/*
Theme Name: MxBlogs
Theme URI: http://mxblogs.com
Template: Divi
Author: Aditia A. Pratama
Author URI: https://github.com/aditiapratama/MxBlog
Description: Special MxBlogs Theme
Tags: responsive-layout,one-column,two-columns,three-columns,four-columns,left-sidebar,right-sidebar,custom-background,custom-colors,featured-images,full-width-template,post-formats,rtl-language-support,theme-options,threaded-comments,translation-ready
Version: 0.1.6
Updated: 2018-08-17 01:39:08

/*---------------Menu CTA Button---------------*/
 
#top-menu li a:hover {opacity: 1!important;}

#et_top_search {
    margin-top: 15px;
}
             
.menu-cta a {
    border: 2px solid #ffffff4f!important;
    background-color: #00B9D6;
    padding: 12px!important;
    border-radius: 25px;
    text-align: center;
    color: white!important;
}
 
.menu-cta a:hover {
    background-color: #8dc63f;
}
 
.et_header_style_left #et-top-navigation {
    padding-top: 16px!important;
}
 
.et_header_style_left .et-fixed-header #et-top-navigation {
    padding-top: 6px!important;
}
 
/*---------------CTA Button Color on Fixed Navigation---------------*/
 
#main-header.et-fixed-header .menu-cta a {
color: #fff !important;
}
 
/*---------------Menu CTA Button Mobile Settings---------------*/
 
@media only screen and (max-width: 980px) {
.menu-cta a {
    background-color: #8dc63f;
    }
}

#top-menu .current-menu-item a::before,
#top-menu .current_page_item a::before {
 content: "";
 position: absolute;
 z-index: 2;
 left: 0;
 right: 0;
}
#top-menu li a:before {
 content: "";
 position: absolute;
 z-index: -2;
 left: 0;
 right: 100%;
 bottom: 50%;
 background: #00B9D6; /*** COLOR OF THE LINE ***/
 height: 3px; /*** THICKNESS OF THE LINE ***/
 -webkit-transition-property: right;
 transition-property: right;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-timing-function: ease-out;
 transition-timing-function: ease-out;
}
#top-menu li a:hover {
 opacity: 1 !important;
}
#top-menu li a:hover:before {
 right: 0;
}
#top-menu li li a:before {
 bottom: 10%;
}

.widget-column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.widget-row {
    width: 350px;
}
.widget-row:after {
    content: "";
    display: table;
    clear: both;
}

#footer-widgets .footer-widget li:before {
    content: none;
}
#footer-widgets .footer-widget li {
    padding-left: 25px;
}